In [1]:
import numpy as np
import pandas as pd

In [2]:
data =  pd.read_csv("csvData.csv")

In [14]:
data.rename(columns = {"Code":"state"}, inplace = True)

In [15]:
data

                   State  Abbrev state
0                Alabama    Ala.    AL
1                 Alaska  Alaska    AK
2                Arizona   Ariz.    AZ
3               Arkansas    Ark.    AR
4             California  Calif.    CA
5               Colorado   Colo.    CO
6            Connecticut   Conn.    CT
7               Delaware    Del.    DE
8   District of Columbia    D.C.    DC
9                Florida    Fla.    FL
10               Georgia     Ga.    GA
11                Hawaii  Hawaii    HI
12                 Idaho   Idaho    ID
13              Illinois    Ill.    IL
14               Indiana    Ind.    IN
15                  Iowa    Iowa    IA
16                Kansas   Kans.    KS
17              Kentucky     Ky.    KY
18             Louisiana     La.    LA
19                 Maine   Maine    ME
20              Maryland     Md.    MD
21         Massachusetts   Mass.    MA
22              Michigan   Mich.    MI
23             Minnesota   Minn.    MN
24           Mississippi   Miss.    MS
25              Missouri     Mo.    MO
26               Montana   Mont.    MT
27              Nebraska   Nebr.    NE
28                Nevada    Nev.    NV
29         New Hampshire    N.H.    NH
30            New Jersey    N.J.    NJ
31            New Mexico    N.M.    NM
32              New York    N.Y.    NY
33        North Carolina    N.C.    NC
34          North Dakota    N.D.    ND
35                  Ohio    Ohio    OH
36              Oklahoma   Okla.    OK
37                Oregon    Ore.    OR
38          Pennsylvania     Pa.    PA
39          Rhode Island    R.I.    RI
40        South Carolina    S.C.    SC
41          South Dakota    S.D.    SD
42             Tennessee   Tenn.    TN
43                 Texas    Tex.    TX
44                  Utah    Utah    UT
45               Vermont     Vt.    VT
46              Virginia     Va.    VA
47            Washington   Wash.    WA
48         West Virginia   W.Va.    WV
49             Wisconsin    Wis.    WI
50               Wyoming    Wyo.    WY

In [16]:
 covid_19 = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")

In [17]:
covid_19

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,09/01/2021,ND,118491,107475.0,11016.0,536,66.0,1562,NaN,NaN,1,0.0,09/02/2021 01:49:05 PM,Agree,Not agree
1,01/13/2021,IN,574488,NaN,NaN,3654,0.0,10920,10553.0,367.0,74,1.0,01/13/2021 12:00:00 AM,Not agree,Agree
2,04/17/2020,VI,54,NaN,NaN,1,NaN,2,NaN,NaN,1,NaN,04/17/2020 04:22:39 PM,NaN,NaN
3,07/30/2020,ME,3910,3497.0,413.0,22,2.0,123,122.0,1.0,2,0.0,07/31/2020 02:35:06 PM,Agree,Agree
4,02/02/2021,MS,280182,176228.0,103954.0,1059,559.0,6730,4739.0,1991.0,13,7.0,02/04/2021 12:00:00 AM,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38395,10/26/2020,SC,172486,163752.0,8734.0,1307,69.0,3897,NaN,NaN,14,2.0,10/26/2020 12:00:00 AM,Agree,Not agree
38396,08/03/2021,KY,491662,366391.0,125271.0,2622,1028.0,7523,6743.0,780.0,10,3.0,08/05/2021 12:00:00 AM,Agree,Agree
38397,07/19/2020,NJ,178541,NaN,NaN,-10,21.0,15706,13732.0,1974.0,34,27.0,07/19/2020 12:00:00 AM,Not agree,Agree
38398,02/10/2021,FSM,1,1.0,0.0,0,0.0,0,0.0,0.0,0,0.0,02/11/2021 02:50:55 PM,Agree,Agree
38399,07/06/2021,OR,209494,209494.0,0.0,117,0.0,2782,2782.0,0.0,1,0.0,07/07/2021 02:48:49 PM,Agree,Agree

In [22]:
final_covid_data = pd.merge(covid_19, data)

In [25]:
final_covid_data.rename(columns = {"state":"code"}, inplace = True)

In [26]:
final_covid_data.head(5)

,submission_date,code,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,State,Abbrev
0,09/01/2021,ND,118491,107475.0,11016.0,536,66.0,1562,NaN,NaN,1,0.0,09/02/2021 01:49:05 PM,Agree,Not agree,North Dakota,N.D.
1,02/24/2020,ND,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Not agree,North Dakota,N.D.
2,11/03/2020,ND,48301,48301.0,0.0,1114,0.0,568,NaN,NaN,12,0.0,11/04/2020 03:03:00 PM,Agree,Not agree,North Dakota,N.D.
3,07/19/2020,ND,5126,5126.0,0.0,107,0.0,93,NaN,NaN,1,0.0,07/20/2020 02:35:44 PM,Agree,Not agree,North Dakota,N.D.
4,10/18/2021,ND,142407,122955.0,19452.0,923,429.0,1690,NaN,NaN,10,0.0,10/19/2021 03:01:15 PM,Agree,Not agree,North Dakota,N.D.

In [29]:
final_covid_data.drop(columns = ["created_at"], inplace = True)

In [47]:
final_covid_data

,submission_date,code,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths,State
0,09/01/2021,ND,118491,107475.0,11016.0,536,66.0,1562,NaN,NaN,1,0.0,Agree,Not agree,North Dakota
1,02/24/2020,ND,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,Agree,Not agree,North Dakota
2,11/03/2020,ND,48301,48301.0,0.0,1114,0.0,568,NaN,NaN,12,0.0,Agree,Not agree,North Dakota
3,07/19/2020,ND,5126,5126.0,0.0,107,0.0,93,NaN,NaN,1,0.0,Agree,Not agree,North Dakota
4,10/18/2021,ND,142407,122955.0,19452.0,923,429.0,1690,NaN,NaN,10,0.0,Agree,Not agree,North Dakota
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32635,06/20/2020,TN,37909,37665.0,244.0,1116,6.0,557,532.0,25.0,9,0.0,Agree,Agree,Tennessee
32636,03/04/2021,TN,781247,654016.0,127231.0,1146,429.0,11539,9289.0,2250.0,23,5.0,Agree,Agree,Tennessee
32637,12/15/2020,TN,498020,448937.0,49083.0,10919,1892.0,6285,5530.0,755.0,75,15.0,Agree,Agree,Tennessee
32638,05/28/2020,TN,23251,23097.0,154.0,660,6.0,406,386.0,20.0,7,0.0,Agree,Agree,Tennessee
32639,06/14/2020,TN,32785,32575.0,210.0,407,3.0,503,480.0,23.0,7,0.0,Agree,Agree,Tennessee

In [35]:
final_covid_data.to_csv("final_covid_data.csv", index = False)

In [38]:
covid_data = final_covid_data.fillna(0)

In [39]:
covid_data.to_csv("covid_data.csv", index = False)

In [46]:
covid_data.dtypes

submission_date     object
code                object
tot_cases            int64
conf_cases         float64
prob_cases         float64
new_case             int64
pnew_case          float64
tot_death            int64
conf_death         float64
prob_death         float64
new_death            int64
pnew_death         float64
consent_cases       object
consent_deaths      object
State               object
dtype: object

In [48]:
data_sample = covid_data.sample(n = 1500)

In [49]:
data_sample

,submission_date,code,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,consent_cases,consent_deaths,State
30281,01/18/2021,PA,779671,687773.0,91898.0,3988,429.0,19390,0.0,0.0,80,63.0,Agree,Not agree,Pennsylvania
4099,04/17/2020,NE,1166,0.0,0.0,98,0.0,24,0.0,0.0,0,0.0,Not agree,Not agree,Nebraska
19768,09/08/2020,RI,22307,0.0,0.0,27,0.0,1090,0.0,0.0,1,0.0,Not agree,0,Rhode Island
19824,08/24/2020,RI,21225,0.0,0.0,54,0.0,1067,0.0,0.0,1,0.0,Not agree,0,Rhode Island
22167,05/12/2021,AR,338043,0.0,0.0,224,91.0,5777,0.0,0.0,7,6.0,Not agree,Not agree,Arkansas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,07/04/2021,CA,3880664,3726303.0,154361.0,2178,167.0,63773,63773.0,0.0,14,0.0,Agree,Agree,California
13946,01/26/2020,KY,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,Agree,Agree,Kentucky
7243,09/05/2021,MD,503034,0.0,0.0,403,0.0,10073,9849.0,224.0,6,0.0,0,Agree,Maryland
31403,10/02/2021,NM,254402,0.0,0.0,587,0.0,4866,0.0,0.0,2,0.0,0,Not agree,New Mexico
8695,12/30/2020,DE,58221,55884.0,2337.0,883,35.0,921,819.0,102.0,23,2.0,Agree,Agree,Delaware

In [50]:
covid_data_sample = data_sample.to_csv("data_sample.csv", index = False)